
/*Share styles*/
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
height: 64px;
border-radius: 8px;
background: #FF900E;
border: none;
}

/*Header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    }
nav> ul{
    display: flex;
}
nav li{
list-style: none;
font-size: 18px;
font-weight: 500;
margin-right: 30px;
}

nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
}
/*Banner*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
color: var(--dark-01, #131313);
font-size: 4rem;
font-weight: 700;
}
.banner-description{
color: var(--dark-03, #727272);
font-size: 16px;
font-weight: 400;
}
